@media(max-width: 560px) {
  body {
    header {
      object-fit: scale-down;
      width: 100%;
      position: fixed;
      top: -20px;
      left: 0px;
      right: 0;
      .fixed-top {
        a {
          color: #ffffff;
          text-decoration: none;
          font-family: 'Pangolin', cursive;
        }
        nav {
          object-fit: scale-down;
          width: 100%;
          padding: 0;
        }
        
      }
      nav {
        display: none;
        
      }
    }
    main {
      .main-top {
        object-fit: scale-down;
        width: 100%;
        height: 200px;
      }
      .career {
        h1 {
          padding-bottom: 70px;
          padding-top: 60px;
          margin: 0;
          margin-bottom: 5px;
        }
        .career-flex-box {
          table {
            box-sizing: border-box;
            object-fit: scale-down;
            width: 90%;
            padding: 0;
            border: 1px solid #333333;
            tr {
              th {
                display: none;
              }
              td {
                text-align: left;
              }
            }
          }
          img {
            margin-top: 30px;
            object-fit: scale-down;
            width: 100%;
            height: 600px;
          }
        }

      }
      .production-record {
        margin-bottom: 50px;
      }
      .sns {
        margin-top: 20px;
        padding-top: 10px;
        .sns-flex-box  {
          flex-direction: column;
          justify-content: center;
          .sns-twitter {
            text-align: center;
            margin-bottom: 60px;
          }
          .sns-facebook {
            text-align: center;
            margin-bottom: 60px;
          }
          .sns-instagram {
            text-align: center;
            margin-bottom: 60px;
          }
        }
      }
      .contact {
        form {
          input {
            object-fit: scale-down;
            width: 100%;
          }
          textarea {
            object-fit: scale-down;
            width: 100%;
          }
        }
      }
    }
    footer {
      .footer-nav-1 {
        ul {
          margin: 0;
        }
      }
    }
  }
}

// タブレット
@media (max-width: 1000px) {
  body {
    header {
      
      .fixed-top {
        
        a {
          color: #ffffff;
          text-decoration: none;
          font-family: 'Pangolin', cursive;
        }
      }
      
      h1 {
        display: none;
      }
      nav {
        display: none;
      }
    }
    main {
      .main-top {
        object-fit: scale-down;
        width: 100%;
        height: 500px;
        background-position: center top;
      }
      .prof {
        .prof-1 {
          padding-top: 80px;
          
        }
        .prof-flexbox {
          display: flex;
          flex-direction: column;
          img {
            object-fit: cover;
            width: 100%;
            height: 350px;
          }
          .prof-flexbox-text {
            margin-top: 5px;
            h1 {
              font-size: 35px;
            }
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
      .career {
        margin-top: 40px;
        padding-top: 50px;
        .career-flex-box {
          flex-direction: column;
          text-align: center;
          table {
            object-fit: scale-down;
            width: 100%;
            th {
              display: none;
            }
           
          }
          img {
            object-fit: scale-down;
            width: 100%;
            height: 800px;
            margin-top: 50px;
          }
        }
      }
      .production-record {
        .production-record-flex-box {
          .production-record-flex-box-1 {
            h1 {
              padding-top: 50px;
            }
          }
        }
      }
      .contact {
        margin-top: 30px;
        padding-top: 50px;
      }
    }
    footer {
      h1 {
        display: none;
      }
      .footer-nav {
        flex-direction: column;
        li {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  body {
   header {
    .fixed-top {
      display: none;
    }
   }
   main {
     .main-top {
       object-fit: cover;
       width: 100%;
     }
     .career {
      .career-flex-box  {
        table {
          padding: 0;
          border: 3px solid #333333;
          th {
            font-size: 10px;
          }
        }
      }
     }
   }
  }
}
